<!DOCTYPE html>

<html>
  <head>
    <title>
      
    </title>

    <script src="assets/javascripts/vendor.js"></script>
    <script src="assets/javascripts/app.js"></script>

    <link href="assets/stylesheets/index.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    {{ emberTmpl sample }}
  </body>
  
</html>